@use "../utilities/variables" as v;

.lista-productos{
    display: grid;
    gap: v.$espaciado-20;
    align-items: center;
    justify-content: center;

    img{
        width: 40%;
        height: auto;
    }

    article{
        padding: v.$espaciado-20;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.2s;
        &:hover{
        transform: scale(1.035);
        }
        &:active{
        transform: scale(0.98);
        }
        
    }
}

.titulo-galeria{
    text-align: center;
}

.carousel-copiwear{
    width: 50%;
    margin: 0 auto;
}

@media (min-width: 1024px){
    .lista-productos{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}
.imagen-galeria{
    transition: 0.35s;

    &:hover{
        transform: scale(1.035);
    }
    &:active{
        transform: scale(0.98);
    }
}