/* Font Family: Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

$color-fondo: #4B2719;
$color-principal: #6F1D1B;
$color-acento: #FFE6A7;
$color-texto: #F5F5F5;
$color-negro: black;
$color-claro: whitesmoke;

$fuente-principal: "Montserrat", sans-serif;
$fuente-eslogan: "Pacifico", cursive;

$espaciado-20: 20px;